
@{
    ViewBag.Title = "Images";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Images</h2>

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css"/>

<p>
    @Html.ActionLink("Upload Image(s)", "Upload")
</p>

<table style="width: 100%; padding: 10px">
    <tr style="background-color: lightgray; padding: 10px;">
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            ContentType
        </th>
        <th>
            InsertDate
        </th>
        <th>
            ExifDate
        </th>
        <th>
            ExifLattitude
        </th>
        <th>
            ExifLongitude
        </th>
        <th>
            StorageType
        </th>
        <th></th>
    </tr>

    @foreach (var image in ViewBag.Images)
    {
        <tr>
            <td>@image.Image.Id</td>
            <td>@image.Name</td>
            <td>@image.ContentType</td>
            <td>@String.Format("{0:d}", image.InsertDate)</td>
            <td>@image.ExifDate</td>
            <td>@image.ExifLattitude</td>
            <td>@image.ExifLongitude</td>
            <td>@image.StorageType</td>
            <td>Edit | Details | Delete</td>
        </tr>
    }
    <tr>
        <td colspan="9">
            @Html.PagedListPager((IPagedList)ViewBag.Images, page => Url.Action("Index", new { page }))
        </td>
    </tr>
</table>

